tidyverse
furrr
robotstxt
magrittr
rvest
parallel
memoise
knitr
glue
purrr
latex2exp
INLA
kableExtra
patchwork
geoR
raster
faraway
broom
future
viridis
leaflet
sp
sf
ggpmisc
gstat
stringi
scales
tidytext
stopwords
widyr
igraph
ggraph
caret
naniar
visdat
ComplexHeatmap
ggridges
reactable
crosstalk
inlabru
rgdal
ggthemes
